body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mt-56 {
	margin-top: 56px;
}

.c-wh, .dropdown-toggle{
  color: white !important;
}

.c-wh:hover {
  color: white;
  text-decoration: none;
}

.footerText {
	color: white;
}

.pointer {
  cursor: pointer;
}

.carousel-img-h {
  height: 375px;
}

.product-cards {
  margin: 10px 0px 50px -10px;
}

.customize {
  margin: 0px 0px 0px -15px;
}

.customize-field {
  height: 40px;
  padding-left: 10px;
}

.customize-field .card-body {
  padding: 0.25rem;
}

.search-field {
  width: 45%;
  display: inline;
  margin-right: 8%;
}

.btn-add-product {
  width: 45%;
  margin-top: -3px;
  border: 1px solid #ced4da;
}